VulkanMod-Refcode/.gitignore
VulkanMod-Refcode/build.gradle
VulkanMod-Refcode/gradle.properties
VulkanMod-Refcode/gradlew
VulkanMod-Refcode/gradlew.bat
VulkanMod-Refcode/LICENSE
VulkanMod-Refcode/README.md
VulkanMod-Refcode/settings.gradle
VulkanMod-Refcode/.github/ISSUE_TEMPLATE/bug_report.yml
VulkanMod-Refcode/.github/ISSUE_TEMPLATE/config.yml
VulkanMod-Refcode/.github/ISSUE_TEMPLATE/feature_request.yml
VulkanMod-Refcode/.github/workflows/build.yml
VulkanMod-Refcode/gradle/wrapper/gradle-wrapper.jar
VulkanMod-Refcode/gradle/wrapper/gradle-wrapper.properties
VulkanMod-Refcode/src/main/java/net/vulkanmod/Initializer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/Config.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/Platform.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/GuiElement.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/OptionBlock.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/VOptionList.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/VOptionScreen.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/render/GuiRenderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/render/PolygonRenderState.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/widget/CyclingOptionWidget.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/widget/OptionWidget.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/widget/RangeOptionWidget.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/widget/SwitchOptionWidget.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/widget/VAbstractWidget.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/gui/widget/VButtonWidget.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/option/CyclingOption.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/option/Option.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/option/OptionPage.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/option/Options.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/option/RangeOption.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/option/SwitchOption.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/video/VideoModeManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/video/VideoModeSet.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/config/video/WindowMode.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/GlUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/VkGlBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/VkGlFramebuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/VkGlProgram.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/VkGlRenderbuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/VkGlShader.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/gl/VkGlTexture.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/ExtendedRenderType.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/ExtendedVertexBuilder.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/FrustumMixed.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/ModelPartCubeMixed.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/VertexFormatMixed.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/VisibilitySetExtended.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/VoxelShapeExtended.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/biome/BiomeManagerExtended.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/color/BlockColorsExtended.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/interfaces/shader/ExtendedRenderPipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/MixinPlugin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/ClientChunkCacheM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/ClientPacketListenerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/DirectionMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/FrustumMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/LevelRendererMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/SectionBufferBuilderPoolM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/SectionRenderDispatcherM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/ViewAreaM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/chunk/VisibilitySetMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/compatibility/PostPassM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/compatibility/gl/GL11M.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/compatibility/gl/GL14M.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/compatibility/gl/GL15M.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/compatibility/gl/GL30M.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/debug/DebugEntryMemoryM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/debug/KeyboardHandlerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/debug/crash_report/SystemReportM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/matrix/Matrix4fM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/matrix/PoseAccessor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/profiling/ClientMetricsSamplersProviderMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/profiling/GameLoadTimeEventM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/profiling/GuiMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/profiling/KeyboardHandlerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/profiling/LevelRendererMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/profiling/TimerQueryM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/CompositeRenderTypeM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/CompositeStateAccessor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/FogRendererMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/GameRendererMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/GlStateManagerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/GuiRendererMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/MinecraftMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/PictureInPictureRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/RenderSystemMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/RenderTypeM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/biome/BiomeManagerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/block/BakedQuadM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/clouds/LevelRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/color/BlockColorsM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/entity/EntityRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/entity/LevelRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/entity/model/ModelPartCubeM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/entity/model/ModelPartM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frame/MinecraftMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frame/RenderSystemMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/BatchingRenderCommandQueueM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/BlockModelRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/BlockRenderDispatcherAccessor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/BlockRenderManagerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/ItemFeatureRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/ItemRendererAccessor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/ItemRenderStateLayerRenderStateM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/ItemRenderStateM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/frapi/OrderedRenderCommandQueueImplM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/particle/QuadParticleGroupM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/particle/QuadParticleRenderStateM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/shader/RenderPipelineM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/shader/ShaderManagerM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/target/MainTargetMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/target/RenderTargetMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/vertex/BufferBuilderM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/vertex/IndexTypeMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/render/vertex/VertexFormatMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/screen/OptionsScreenM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/screen/ScreenM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/texture/image/NativeImageAccessor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/texture/mip/MipmapGeneratorM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/texture/update/GameRendererM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/texture/update/MLightTexture.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/texture/update/MSpriteContents.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/texture/update/MTextureManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/util/ScreenshotMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/vertex/EntityOutlineGeneratorM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/vertex/SpriteCoordinateExpanderM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/vertex/VertexMultiConsumersM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/voxel/VoxelShapeMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/wayland/InputConstantsM.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/wayland/MinecraftMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/window/WindowAccessor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/mixin/window/WindowMixin.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/PipelineManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/VBO.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/ChunkArea.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/ChunkAreaManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/ChunkStatusMap.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/RenderSection.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/SectionGrid.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/WorldRenderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/buffer/AreaBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/buffer/DrawBuffers.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/buffer/DrawParametersBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/buffer/UploadManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/RenderRegion.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/RenderRegionBuilder.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/UploadBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/biome/BiomeData.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/color/BlockColorRegistry.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/color/BoxBlur.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/color/TintCache.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/VulkanModRenderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/accessor/AccessBatchingRenderCommandQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/accessor/AccessChunkRendererRegion.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/accessor/AccessLayerRenderState.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/accessor/AccessRenderCommandQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/helper/ColorHelper.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/helper/GeometryHelper.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/helper/NormalHelper.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/helper/TextureHelper.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/mesh/EncodingFormat.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/mesh/MeshImpl.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/mesh/MutableMeshImpl.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/mesh/MutableQuadViewImpl.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/mesh/QuadViewImpl.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/AbstractBlockRenderContext.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/AbstractRenderContext.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/BlockRenderContext.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/ItemRenderContext.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/MeshItemCommand.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/QuadToPosPipe.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/frapi/render/SimpleBlockRenderContext.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/LightMode.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/LightPipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/data/ArrayLightDataCache.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/data/LightDataAccess.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/data/QuadLightData.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/flat/FlatLightPipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/smooth/AoFaceData.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/smooth/AoNeighborInfo.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/smooth/FaceDataFlags.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/smooth/NewSmoothLightPipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/smooth/SmoothLightPipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/light/smooth/SubBlockAoFace.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/renderer/BlockRenderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/renderer/DefaultFluidRenderers.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/renderer/FluidRenderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/task/BuildTask.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/task/ChunkTask.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/task/CompiledSection.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/task/CompileResult.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/task/SortTransparencyTask.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/task/TaskDispatcher.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/thread/BuilderResources.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/build/thread/ThreadBuilderPack.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/cull/QuadFacing.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/frustum/FrustumOctree.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/frustum/VFrustum.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/graph/GraphDirections.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/graph/SectionGraph.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/AreaSetQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/BufferUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/CircularIntList.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/ResettableQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/SimpleDirection.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/StaticQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/chunk/util/Util.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/EGlProgram.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkCommandEncoder.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkDebugLabel.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkFbo.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkGpuBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkGpuDevice.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkGpuTexture.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkRenderPass.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/engine/VkTextureView.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/model/CubeModel.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/model/quad/ModelQuad.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/model/quad/ModelQuadFlags.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/model/quad/ModelQuadView.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/model/quad/QuadUtils.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/profiling/BuildTimeProfiler.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/profiling/Profiler.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/profiling/ProfilerOverlay.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/shader/CustomRenderPipelines.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/shader/ShaderLoadUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/sky/CloudRenderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/texture/ImageUploadHelper.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/texture/SpriteUpdateUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/util/DrawUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/util/MathUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/util/SortUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/CustomVertexFormat.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/QuadSorter.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/TerrainBufferBuilder.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/TerrainBuilder.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/TerrainRenderType.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/VertexBuilder.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/render/vertex/format/I32_SNorm.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/Drawer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/Renderer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/Synchronization.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/SystemInfo.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/VRenderSystem.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/Vulkan.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/device/Device.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/device/DeviceManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/framebuffer/Framebuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/framebuffer/RenderPass.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/framebuffer/SwapChain.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/MemoryManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/MemoryType.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/MemoryTypes.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/Buffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/BufferSlice.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/IndexBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/IndirectBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/StagingBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/UniformBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/VertexBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/memory/buffer/index/AutoIndexBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/pass/DefaultMainPass.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/pass/MainPass.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/queue/CommandPool.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/queue/ComputeQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/queue/GraphicsQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/queue/PresentQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/queue/Queue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/queue/TransferQueue.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/DescriptorSets.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/GraphicsPipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/Pipeline.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/PipelineState.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/SPIRVUtils.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/Uniforms.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/converter/Attribute.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/converter/GLSLParser.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/converter/Lexer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/converter/Sampler.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/converter/Token.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/converter/UniformBlock.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/descriptor/Descriptor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/descriptor/ImageDescriptor.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/descriptor/ManualUBO.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/descriptor/UBO.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/layout/AlignedStruct.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/layout/Mat3.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/layout/PushConstants.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/layout/Uniform.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/layout/Vec1f.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/shader/layout/Vec1i.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/texture/ImageUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/texture/SamplerManager.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/texture/VTextureSelector.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/texture/VulkanImage.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/util/ColorUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/util/DrawUtil.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/util/MappedBuffer.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/util/Pair.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/util/VkResult.java
VulkanMod-Refcode/src/main/java/net/vulkanmod/vulkan/util/VUtil.java
VulkanMod-Refcode/src/main/resources/fabric.mod.json
VulkanMod-Refcode/src/main/resources/vulkanmod.accesswidener
VulkanMod-Refcode/src/main/resources/vulkanmod.mixins.json
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/vlogo_transparent.png
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/Vlogo.png
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/lang/en_us.json
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/blit/blit.fsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/blit/blit.json
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/blit/blit.vsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/clouds/clouds.fsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/clouds/clouds.json
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/clouds/clouds.vsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/terrain/terrain.fsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/terrain/terrain.json
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/terrain/terrain.vsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/terrain_earlyZ/terrain_earlyZ.fsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/basic/terrain_earlyZ/terrain_earlyZ.json
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/core/rendertype_item_entity_translucent_cull/rendertype_item_entity_translucent_cull.vsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/core/screenquad/screenquad.vsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/include/fog.glsl
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/include/light.glsl
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/include/matrix.glsl
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/include/projection.glsl
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/post/blit/blit.vsh
VulkanMod-Refcode/src/main/resources/assets/vulkanmod/shaders/post/blit/blur.vsh
